@model CoollabTech.Application.ViewModels.TicketViewModel

@{
    ViewData["Title"] = "Novo";
}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="home" asp-action="index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Lista de Chamados</a></li>
            <li class="breadcrumb-item active" aria-current="#">Novo Chamado</li>
        </ol>
    </nav>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Prestador de serviço</label>
                @Html.DropDownList("ServiceProviderId", new SelectList(ViewBag.ServiceProviders, "Id", "Name"), null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="TicketTypeId" class="control-label"></label>
                @Html.DropDownList("TicketTypeId", new SelectList(ViewBag.TicketTypes, "Id", "Name"), null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="TicketStatusId" class="control-label"></label>
                @Html.DropDownList("TicketStatusId", new SelectList(ViewBag.TicketStatus, "Id", "Name"), null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localization" class="control-label"></label>
                <input asp-for="Localization" class="form-control" />
                <span asp-validation-for="Localization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success btn-main" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
