@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Enviar e-mail de verificação</button>
                }
            </div>
            <div class="form-group">
                <label asp-for="Input.NewEmail"></label>
                <input asp-for="Input.NewEmail" class="form-control" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NickName"></label>
                <input asp-for="Input.NickName" class="form-control" />
                <span asp-validation-for="Input.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Document"></label>
                <input asp-for="Input.Document" class="form-control" />
                <span asp-validation-for="Input.Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Gender"></label>
                <select asp-for="Input.Gender"
                        asp-items="Html.GetEnumSelectList<CoollabTech.Domain.Citizen.Enums.EGender>()" class="form-control">
                    <option selected="selected" value="">Sexo</option>
                </select>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Input.Gender"></label>
                <input asp-for="Input.Gender" class="form-control" />
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>*@
            <div hidden class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-success">Salvar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
