@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmar senha";
}

<div class="login-form">
    <div class="login-form-wrapper">
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="login-left">
                <h4>Confirmação de Senha</h4>
            </div>
            <div>
                <p>
                    Verifique seu e-mail para redefinir sua senha.
                </p>
            </div>
            @*<div class="login-left">
                <a class="reduced-link" id="forgot-password" asp-page="./ForgotPassword">Voltar</a>
            </div>*@
        </div>
    </div>
</div>  