@page
@model LoginModel

@{
    ViewData["Title"] = "Acesso";
}

   
        <div class="login-form">



            <div class="login-form-wrapper">
                <div class="shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="login-left">
                        <img src="~/images/img.jpeg" alt="">
                    </div>
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            @*<label asp-for="Input.Email"></label>*@
                            <input asp-for="Input.Email" class="form-control" placeholder="Digite seu email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="Input.Password"></label>*@
                            <input asp-for="Input.Password" class="form-control" placeholder="Senha" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>


                        @*  Os navegadores já entendem campos do tipo password e aplicam a função abaixo
                            
                            <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(l)
                                </label>
                            </div>
                        </div>*@

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-main">Acessar</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a class="reduced-link" id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                            </p>
                            <p>
                                <a class="reduced-link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar um novo usuário</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      


        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
