@page
@model RegisterModel
@{
    ViewData["Title"] = "Realizar Cadastro";
}

<div class="login-form">
    <div class="login-form-wrapper">
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="login-left">
                <h3>@ViewData["Title"]</h3>
            </div>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="Digite seu E-mail" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Input.Name" class="form-control" placeholder="Digite seu nome" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                        <input asp-for="Input.NickName" class="form-control" placeholder="Digite seu Apelido"/>
                        <span asp-validation-for="Input.NickName" class="text-danger"></span>
                    </div>

                <div class="form-group">
                        <select asp-for="Input.Gender"
                                asp-items="Html.GetEnumSelectList<CoollabTech.Domain.Citizen.Enums.EGender>()" class="form-control">
                            <option selected="selected" value="">Sexo</option>
                        </select>
                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>


                <div class="form-group">
                        <input asp-for="Input.Document" class="form-control" placeholder="Digite seu CPF" />
                        <span asp-validation-for="Input.Document" class="text-danger"></span>
                    </div>

                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Sua senha secreta" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirme sua senha secreta" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-main">Cadastrar</button>
                </div>
                <div class="form-group">
                    <div class="login-left">
                        <p>
                            <a class="reduced-link" asp-page="./Login">Voltar</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
