
<div class="container dash">
    <div class="shadow-none p-3 bg-light rounded">Usuários</div>
    <div class="row mb-5">
        <div class="col-3">            
            <a class="btn btn-primary btn-main" asp-area="" asp-controller="Home" asp-action="Users">Listar</a>
        </div>

    </div>
    <div class="shadow-none p-3 bg-light rounded">Chamados</div>
    <div class="row">
        <div class="col-3">            
            <a class="btn btn-primary btn-main" asp-area="" asp-controller="Ticket" asp-action="create">Cadastrar</a>
        </div>
        <div class="col-3">            
            <a class="btn btn-primary btn-main" asp-area="" asp-controller="Ticket" asp-action="index">Listar</a>
        </div>
        <!-- div class="col-3">
          <a href="ticket?action=open-list-page" class="btn btn-main">Alterar</a>
        </div>
        <div class="col-3">
          <a href="ticket?action=open-list-page" class="btn btn-main">Remover</a>
        </div> -->
    </div>
</div>




